  <div id="sortbar">
    <ul>
      <li><%= link_to "HOME", root_path %></li>
      <li><%= link_to "BOOKS", books_path %></li>

      <li><%= link_to "TITLE", books_path %></li>

      <li><%= link_to "PAGES ASC", books_path, sort: 'page_count' %></li>
      <li><%= link_to "PAGES DESC", books_path, sort: 'page_count', direction: 'DESC' %></li>

      <li><%= link_to "RATING ASC", books_path, sort: 'avg_rating' %></li>
      <li><%= link_to "RATING DESC", books_path, sort: 'avg_rating', direction: 'DESC' %></li>

      <li><%= link_to "REVIEWS ASC", books_path, sort: 'review_count' %></li>
      <li><%= link_to "REVIEWS DESC", books_path , sort: 'review_count', direction: 'DESC' %></li>
    </ul>
  </div>

  <div id="contents">
    <% @books.each do |book| %>
      <div class="book-entry">
        <h3>
          <%= link_to book.title, book_path(book), class: 'title-author' %>
          <div class="year-display"><%= " (#{book.year}) by " %></div>
          <% book.authors.each do |author| %>
              <%=link_to author.name, author_path(author), class: 'title-author' %>
          <% end %>
        </h3>
        <h4>
          <%= "Pages: #{book.pages}, Total Reviews: #{book.review_count}, Average Rating: #{book.average_rating}" %>
        </h4>
      </div>
    <% end %>
    <%= link_to "NEW BOOK", new_book_path, class: 'title-author' %>
  </div>

  <div id="pagestats">
    <h2>Highest and Lowest</h2>
    <p>Highest rated books:</p>
    <% @high_rated_books.each do |book| %>
      <%= link_to book.title, book_path(book), class: 'title-author' %>
      <%= "Rating: #{book.average_rating}" %>
    <% end %>
    <p>Lowest rated books:</p>
    <% @low_rated_books.each do |book| %>
      <%= link_to book.title, book_path(book), class: 'title-author' %>
      <%= "Rating: #{book.average_rating}" %>
    <% end %>
    <p>Most Prolific Reviewers:</p>
    <% @prolific_reviewers.each do |user| %>
      <%= link_to user.username, user_path(user), class: 'title-author' %>
      <%= "Reviews: #{user.reviews.count}" %>
    <% end %>

  </div>
