      <div id="sortbar">
        <ul>
          <li><%= link_to "home", books_path %></li>
          <li><%= link_to "books", books_path %></li>
          <li><a href="/books">Title</a></li>
          <li><a href="/books?sort=page_count">Page Count Ascending</a></li>
          <li><a href="/books?sort=page_count&direction=DESC">Page Count Descending</a></li>
        </ul>
      </div>

      <div id="contents">
        <% @books.each do |book| %>
          <div class="book_entry">
            <h3>
              <%= link_to book.title, book_path(book), class: 'book-author' %>
              <%= " (#{book.year}) by " %>
              <% book.authors.each do |author| %>
                  <%=link_to author.name, author_path(author), class: 'book-author' %>
              <% end %>
            </h3>
            <h4>
              <%= "Pages: #{book.pages}, Total Reviews: #{book.review_count}, Average Rating: #{book.average_rating}" %>
            </h4>
          </div>
        <% end %>
      </div>
