<!DOCTYPE html>
<html>
  <head>
    <title>Philosophy Book Club</title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="navbar-class">
      <u1>
        <li><%= link_to "home", books_path %></li>
        <li><%= link_to "books", books_path %></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
